@media screen and (max-width: 1200px) {
    

.hamburger{
    display: block;
}

.mainPortfolio{
    grid-template-columns: minmax(100px, 33%) minmax(100px, 33%) minmax(100px, 33%);
}

.mainServices{
    margin: 20px 80px;
}

.forPadding{
    padding: 0 40px;
}

footer h3 {
    margin: 20px 0;
    text-align: left;
    font-size: 20px;
    line-height: 46px;
}
footer button {
    height: 40px;
    width: max-content;
    font-size: 16px;
    cursor: pointer;
    padding: 0 25px;
    border-radius: 5px;
    color: #fff;
    background: rgb(177, 12, 12);
    letter-spacing: 0.04em;
    }

.footerButton{
    justify-content: flex-end;
}

.footerContacts{
    flex-direction: column;
}

.copy {
    margin: 32px 0 0;

}

}